.card {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: default;
}

.image {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 20px;
}

.image img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    flex: 1;
    padding: 16px;
}

.username p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.trackInfo {
    margin-top: 16px;
}

.trackName p,
.albumName p,
.artistName p,
.context p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin: 8px 0;
    vertical-align: middle;
}

.icon {
    margin-right: 8px;
}

.timestamp p {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888888;
    margin-top: 16px;
}